## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [5]:
a = np.random.randint(1000000,size=5)
a

array([ 21944, 323029, 989745, 303611, 495262])

In [16]:
data = {'國家':['美國','中國','日本','韓國','伊朗'],
        '人口': a}
CountryMan = pd.DataFrame(data)
CountryMan

   國家      人口
0  美國   21944
1  中國  323029
2  日本  989745
3  韓國  303611
4  伊朗  495262

In [21]:
CountryMan.sort_values(by=['人口'], ascending=False)

   國家      人口
2  日本  989745
4  伊朗  495262
1  中國  323029
3  韓國  303611
0  美國   21944