## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [5]:
a = np.random.randint(1000000,size=5)
a

array([ 21944, 323029, 989745, 303611, 495262])

In [16]:
data = {'國家':['美國','中國','日本','韓國','伊朗'],
        '人口': a}
CountryMan = pd.DataFrame(data)
CountryMan

   國家      人口
0  美國   21944
1  中國  323029
2  日本  989745
3  韓國  303611
4  伊朗  495262

In [21]:
CountryMan.sort_values(by=['人口'], ascending=False)

   國家      人口
2  日本  989745
4  伊朗  495262
1  中國  323029
3  韓國  303611
0  美國   21944

## 讀取 txt 檔
* 請讀取 [text file](https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt)
* 懶人複製連結: https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt

### Hints: 使用 [Request](https://blog.gtwang.org/programming/python-requests-module-tutorial/) 抓取資料
### Hints: [字串分割](http://www.runoob.com/python/att-string-split.html)
### Hints: 例外處理: [Try-Except](https://pydoing.blogspot.com/2011/01/python-try.html)

In [22]:
## 假如我們不想把資料載到自己的電腦裡?
# 把連結填入
target_url = "https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt"

In [ ]:
import requests
response = requests.get(target_url)
data = response.text

# 用 request 傳送回來的資料不會認得斷行符號
print(len(data))
data[0:100]

In [ ]:
# 找到換行符號，用該符號做字串分割後，把它拿掉
split_tag = "\n" 

data = data.split(split_tag)
print(len(data))
data[0]

## 將 txt 轉成 pandas dataframe

In [ ]:
import pandas as pd

    
df = pd.DataFrame(data)
df.head()

data1 = []
for line in data:
    line = line.replace('\t', ',').split(',') 
    data1.append(line)
data1

df = pd.DataFrame(data1)
df.head(2)

## 讀取圖片，請讀取上面 data frame 中的前 5 張圖片

In [ ]:
from PIL import Image
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt

# 請用 df.loc[...] 得到第一筆資料的連結
first_link = df.loc[0,1]

response = requests.get(first_link)
img = Image.open(BytesIO(response.content))

# Convert img to numpy array

plt.imshow(img)
plt.show()

In [ ]:
def img2arr_fromURLs(url_list, resize = False):
    """
    請完成這個 Function
    Args
        - url_list: list of URLs
        - resize: bool
    Return
        - list of array
    """
    img_list = []
    
    for i in range(len(url_list)):
        try:
            response = requests.get(url_list[i])
            img = Image.open(BytesIO(response.content))
            img_list.append(img)
        except:
            continue
    return img_list

In [ ]:
result = img2arr_fromURLs(df[0:5][1].values)
print("Total images that we got: %i " % len(result)) # 如果不等於 5, 代表有些連結失效囉

for im_get in result:
    plt.imshow(im_get)
    plt.show()